$header-color: #FDA5A8;
$secondary-color: #048243;
$text-color: #6B0226;
.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    margin: 78px 64px;
    background-color:$header-color;
    border-radius: 45px;
    .about-image {
      flex: 1;
      img {
        width: 100%;
        height: auto;
  
      }
    }
    .about-text {
      flex: 1;
      padding-left: 2rem;
  
      h2 {
        font-size: 2rem;
        color: $text-color;
        margin-bottom: 1rem;
      }
  
      p {
        font-size: 1.2rem;
        line-height: 1.8;
        color: $text-color;
      }
    }
  }
  