$header-color: #FDA5A8;
$secondary-color: #048243;
$text-color: #6B0226;


.cards {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    gap: 1rem;
    padding: 1rem;
    margin: 10rem 4rem;
  }
  
  .card {
    background-color: $header-color; 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 1.5rem; 
    text-align: center; 
    width: 30%; 
    position: relative; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    img:first-of-type {
      position: absolute; 
      top: -95px;
      left: 50%;
      transform: translateX(-50%); 
      width: 80%; 
      height: auto; 
      z-index: 4; 
    }
  
    p {
      font-size: 1rem; 
      color:$text-color; 
      margin-top: 8rem;
      z-index: 2;
    }
  
    .btn {
        width: 60%;
        transition: 0.5s;
        padding: 12px 12px;
        z-index: 6;
      &:hover {
        background-color:$header-color;
      }
    }
  
    &:hover {
        transform: translateY(-8px); 
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); 
      }

}

  


